<h1><%="Logged in as #{current_user.name}"%></h1>
<%= @merchant.name %>
<%= @merchant.address %>
<%= @merchant.city %>
<%= @merchant.state %>
<%= @merchant.zip %>

<h2>My Orders</h2>
<% @merchant.item_orders.each do |item_order| %>
<div class = <%="Order-##{item_order.order_id}"%>>
<ul>
  <li><%=link_to "Order ##{item_order.order_id}", "/merchant/orders/#{item_order.order_id}"%></li>
  <li><%=item_order.created_at%></li>
  <li><%=@merchant.item_orders.sum(:quantity).where()%></li>
  <li><%=item_order.grandtotal%></li>
  </ul>
  <%end%>
  </div>

 the total quantity of my items in the order
