<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id= 'merch-shop-<%=merchant.id%>'>
      <% if current_admin? %>
        <h2><%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%></h2>
        <p><%=merchant.city%></p>
        <p><%=merchant.state%></p>
        <% if merchant.active? %>
          <%= button_to 'disable', "/admin/merchant/#{merchant.id}/disable", form: {style: 'background-color: darkviolet;'}, method: :patch %>
        <% elsif !merchant.active? %>
          <%= button_to 'enable', "/admin/merchant/#{merchant.id}/enable", form: {style: 'background-color: darkviolet;'}, method: :patch %>
        <% end %>
      <% else %>
        <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
    <% end %>
    </section>
  <% end %>
</section>
