  <table>
    <tr>
      <td>Name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @user.street_address %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @user.city %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @user.state %></td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td><%= @user.zip_code %></td>
    </tr>
    <tr>
      <td>Email Address</td>
      <td><%= @user.email_address %></td>
    </tr>
  </table>
